.attributeSelection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  input {
    &:checked ~ input {
      margin-left: 20px;
    }
  }
}

.page {
  display: flex;
  justify-content: center;
}

.characterProfile {
  display: flex;
  .characterTrait {
    display: flex;
    flex-direction: column;
  }
}